doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
    body(style="font:14px/1.4286 'microsoft yahei';")
        div(style="width:640px;margin:0 auto;border:1px solid #eee;border-radius:1px;padding:0;")
            table(style='border-collapse:collapse')
                tr
                    td(style='padding:5px 0 0 25px;')
                        img(style='float:left;padding-top:20px', src='cid:images@logo', alt='logo of 517today')
                        h1(style='float:left;font-size:30px;font-weight:normal;padding-left:10px;') 517.Today
                tr(style='font-size:16px;color:#757575')
                    td(style='padding:0 0 0 50px')
                        p='Dear ' + email + ':'
                        P A password reset was requested for your user account. If this was you, please use the following code for the reset purposes
                        p(style='text-align:center')
                            a( href=resetLink style='background:#ee2b2a;letter-spacing:2px;font-size:18px;color:#fff;padding:10px 20px 10px 20px;text-decoration:none;')=code
                        p If above button did not work for you, please use links below:
                        p
                            a( href=resetLink style='color:#007aff;text-decoration:none;')=resetLink
                        p If you don't mean to reset your password, then you can just ignore this email. Your password will not be changed.
                tr(style='background:#fafafa;height:60px;border-top:1px solid #eee')
                    td(style='text-align:center;line-height:2px;font-size:12px;font-style:normal')
                        p &copy; 2015-2019 Initial. Devo, All Rights Reserved.




